<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Creation</title>
    <link rel="stylesheet" type="text/css" href="../../static/Notes.css">
</head>

<body>
<h1> Dashboard </h1>
<a th:href="@{/notes/create}"> Create a Note </a>
<form method="post" th:action="@{/logout}" action="#">
    <input type="Submit" value="Logout"/>
</form>

<table>
    <thead>
        <tr>
            <th> Title </th>
            <th> Content </th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${notes.isEmpty()}">
            <td colspan="3"> No Notes Available </td>
        </tr>
        <tr th:each="note : ${notes}">
            <td><span th:text="${note.titleOfNote}"> Title </span></td>
            <td><span th:text="${note.contentOfNote}"> Content </span></td>
            <form th:method="delete" th:action="@{/notes/delete}" action="#" th:object="${note}">
                <input type="hidden" name="id" th:value="${note.id}">
                <input type="hidden" name="titleOfNote" th:value="${note.titleOfNote}">
                <input type="hidden" name="contentOfNote" th:value="${note.contentOfNote}">
                <button type="submit">Delete</button>
            </form>
        </tr>
    </tbody>
</table>

</body>
</html>